<div class="row">
  <% @posts.each do |post| %>
    <div class="col-3">
      <h4>
        <%= post.user&.first_name || "anonymous" %>
      </h4>
      <img src="<%= post.image %>" class="img-fluid w-full">
      <p><%= post.body %></p>
    </div>
  <% end %>
</div>